<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Project Management System</title>
</head>
<body>
    <h1>Employee Project Management System</h1>
    <nav>
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'list' %}">Employees</a> |
    <a href="{% url 'projects' %}">Projects</a> |
    <a href="admin/">Admin</a>
    </nav>
    
    <hr>

    
    {% block content %}
    {% endblock %}

</body>
</html>